:deep(.el-tabs__item) {
  font-weight: bold;
}
:deep(.el-tabs__nav-wrap) {
  display: flex;
  align-items: center;
  border: none !important;
}
:deep(.el-tabs__nav),
:deep(.el-tabs__header),
:deep(.el-tabs__item) {
  border: none !important;
}
